/* Webkit browsers (Chrome, Safari) */
:root{
    --translucent: #88888800;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 1em;
}

::-webkit-scrollbar-track {
    background: var(--translucent);
}

::-webkit-scrollbar-thumb {
    background: var(--fourth-color);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--fourth-color);
}
::-webkit-scrollbar-button {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--fourth-color) var(--translucent);
}