@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
    --bg-main-colour: #040316;
    --font-main-colour: #DDDBFF;
    --primary-colour: #7527CE;
    --secundary-colour: #DDDBFF;
    --third-colour: #2f2e45;
    --fourth-colour: #1a0a3b;
    font-family: 'Inter';
    font-size: 16px;
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--bg-main-colour);
    font-weight: 400;
    color: var(--font-main-colour);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}
html {
    font-size: 100%;
}
.header {
    display: flex;
    height: 3em;
    border-bottom: 0.08em solid var(--third-colour);
    align-items: center;
}
.content {
    display: flex;
    margin-top: 3em;
    height: 70em;
}